// Font-size base
$base-font: 16px !default;
$base-design-font: 16px !default;
@function -convert($value){
  @return (($value*$base-font)/$base-design-font);
}

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 375px,
  s: 640px,
  m: 960px,
  l: 1200px,
  xl: 1600px
) !default;