.exo-2-100 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.exo-2-200 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.exo-2-300 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.exo-2-400 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-2-500, .home__tabchi__tab > * > a, .home__subnav > li > a {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.exo-2-600, .home__tabchi__table tr td:nth-child(1), .home__tabchi__table tr td:nth-child(3) {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.exo-2-700, .home__tabchi__table tr th, .home__nav > li.uk-parent > a {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.exo-2-800 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.exo-2-900 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.uk-child-width-1-8 > * {
  width: 12.5%;
}
@media (min-width: 1200px) {
  .uk-child-width-1-8\@l > * {
    width: 12.5%;
  }
}

.divider {
  margin-top: 30px;
  margin-bottom: 30px;
  border-color: #EDEDED;
}
.divider-1 {
  border-top: 1px solid #FFF;
}

@media (min-width: 1600px) {
  .uk-grid-4-xl {
    margin-left: -4px !important;
  }
  .uk-grid-4-xl > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-xl > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-4-l {
    margin-left: -4px !important;
  }
  .uk-grid-4-l > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-l > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-4-m {
    margin-left: -4px !important;
  }
  .uk-grid-4-m > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-m > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-4-s {
    margin-left: -4px !important;
  }
  .uk-grid-4-s > * {
    padding-left: 4px !important;
  }
  .uk-grid-4-s > .uk-grid-margin {
    margin-top: 4px !important;
  }
}

.uk-grid-4 {
  margin-left: -4px;
}
.uk-grid-4 > * {
  padding-left: 4px;
}
.uk-grid-4 > .uk-grid-margin {
  margin-top: 4px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-13-xl {
    margin-left: -13px !important;
  }
  .uk-grid-13-xl > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-xl > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-13-l {
    margin-left: -13px !important;
  }
  .uk-grid-13-l > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-l > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-13-m {
    margin-left: -13px !important;
  }
  .uk-grid-13-m > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-m > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-13-s {
    margin-left: -13px !important;
  }
  .uk-grid-13-s > * {
    padding-left: 13px !important;
  }
  .uk-grid-13-s > .uk-grid-margin {
    margin-top: 13px !important;
  }
}

.uk-grid-13 {
  margin-left: -13px;
}
.uk-grid-13 > * {
  padding-left: 13px;
}
.uk-grid-13 > .uk-grid-margin {
  margin-top: 13px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-24-xl {
    margin-left: -24px !important;
  }
  .uk-grid-24-xl > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-xl > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-24-l {
    margin-left: -24px !important;
  }
  .uk-grid-24-l > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-l > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-24-m {
    margin-left: -24px !important;
  }
  .uk-grid-24-m > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-m > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-24-s {
    margin-left: -24px !important;
  }
  .uk-grid-24-s > * {
    padding-left: 24px !important;
  }
  .uk-grid-24-s > .uk-grid-margin {
    margin-top: 24px !important;
  }
}

.uk-grid-24 {
  margin-left: -24px;
}
.uk-grid-24 > * {
  padding-left: 24px;
}
.uk-grid-24 > .uk-grid-margin {
  margin-top: 24px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-33-xl {
    margin-left: -33px !important;
  }
  .uk-grid-33-xl > * {
    padding-left: 33px !important;
  }
  .uk-grid-33-xl > .uk-grid-margin {
    margin-top: 33px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-33-l {
    margin-left: -33px !important;
  }
  .uk-grid-33-l > * {
    padding-left: 33px !important;
  }
  .uk-grid-33-l > .uk-grid-margin {
    margin-top: 33px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-33-m {
    margin-left: -33px !important;
  }
  .uk-grid-33-m > * {
    padding-left: 33px !important;
  }
  .uk-grid-33-m > .uk-grid-margin {
    margin-top: 33px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-33-s {
    margin-left: -33px !important;
  }
  .uk-grid-33-s > * {
    padding-left: 33px !important;
  }
  .uk-grid-33-s > .uk-grid-margin {
    margin-top: 33px !important;
  }
}

.uk-grid-33 {
  margin-left: -33px;
}
.uk-grid-33 > * {
  padding-left: 33px;
}
.uk-grid-33 > .uk-grid-margin {
  margin-top: 33px;
}

@media (min-width: 1600px) {
  .uk-grid-35-xl {
    margin-left: -35px !important;
  }
  .uk-grid-35-xl > * {
    padding-left: 35px !important;
  }
  .uk-grid-35-xl > .uk-grid-margin {
    margin-top: 35px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-35-l {
    margin-left: -35px !important;
  }
  .uk-grid-35-l > * {
    padding-left: 35px !important;
  }
  .uk-grid-35-l > .uk-grid-margin {
    margin-top: 35px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-35-m {
    margin-left: -35px !important;
  }
  .uk-grid-35-m > * {
    padding-left: 35px !important;
  }
  .uk-grid-35-m > .uk-grid-margin {
    margin-top: 35px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-35-s {
    margin-left: -35px !important;
  }
  .uk-grid-35-s > * {
    padding-left: 35px !important;
  }
  .uk-grid-35-s > .uk-grid-margin {
    margin-top: 35px !important;
  }
}

.uk-grid-35 {
  margin-left: -35px;
}
.uk-grid-35 > * {
  padding-left: 35px;
}
.uk-grid-35 > .uk-grid-margin {
  margin-top: 35px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

@media (min-width: 1600px) {
  .uk-grid-58-xl {
    margin-left: -58px !important;
  }
  .uk-grid-58-xl > * {
    padding-left: 58px !important;
  }
  .uk-grid-58-xl > .uk-grid-margin {
    margin-top: 58px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-58-l {
    margin-left: -58px !important;
  }
  .uk-grid-58-l > * {
    padding-left: 58px !important;
  }
  .uk-grid-58-l > .uk-grid-margin {
    margin-top: 58px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-58-m {
    margin-left: -58px !important;
  }
  .uk-grid-58-m > * {
    padding-left: 58px !important;
  }
  .uk-grid-58-m > .uk-grid-margin {
    margin-top: 58px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-58-s {
    margin-left: -58px !important;
  }
  .uk-grid-58-s > * {
    padding-left: 58px !important;
  }
  .uk-grid-58-s > .uk-grid-margin {
    margin-top: 58px !important;
  }
}

.uk-grid-58 {
  margin-left: -58px;
}
.uk-grid-58 > * {
  padding-left: 58px;
}
.uk-grid-58 > .uk-grid-margin {
  margin-top: 58px;
}

@media (min-width: 1600px) {
  .uk-grid-97-xl {
    margin-left: -97px !important;
  }
  .uk-grid-97-xl > * {
    padding-left: 97px !important;
  }
  .uk-grid-97-xl > .uk-grid-margin {
    margin-top: 97px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-97-l {
    margin-left: -97px !important;
  }
  .uk-grid-97-l > * {
    padding-left: 97px !important;
  }
  .uk-grid-97-l > .uk-grid-margin {
    margin-top: 97px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-97-m {
    margin-left: -97px !important;
  }
  .uk-grid-97-m > * {
    padding-left: 97px !important;
  }
  .uk-grid-97-m > .uk-grid-margin {
    margin-top: 97px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-97-s {
    margin-left: -97px !important;
  }
  .uk-grid-97-s > * {
    padding-left: 97px !important;
  }
  .uk-grid-97-s > .uk-grid-margin {
    margin-top: 97px !important;
  }
}

.uk-grid-97 {
  margin-left: -97px;
}
.uk-grid-97 > * {
  padding-left: 97px;
}
.uk-grid-97 > .uk-grid-margin {
  margin-top: 97px;
}

.rounded-2px {
  border-radius: 2px;
}

.rounded-4px {
  border-radius: 4px;
}

.rounded-5px {
  border-radius: 5px;
}

.rounded-6px {
  border-radius: 6px;
}

.rounded-7px {
  border-radius: 7px;
}

.rounded-8px {
  border-radius: 8px;
}

.rounded-9px {
  border-radius: 9px;
}

.rounded-10px {
  border-radius: 10px;
}

.rounded-12px {
  border-radius: 12px;
}

.rounded-15px {
  border-radius: 15px;
}

.rounded-16px {
  border-radius: 16px;
}

.rounded-20px {
  border-radius: 20px;
}

.rounded-23px {
  border-radius: 23px;
}

.lh-133 {
  line-height: 1.33333;
}

.lh-142 {
  line-height: 1.42857;
}

.lh-150 {
  line-height: 1.5;
}

.lh-154 {
  line-height: 1.54545;
}

.lh-160 {
  line-height: 1.6;
}

.lh-171 {
  line-height: 1.71429;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-000 {
  color: black;
}

.text-FFF {
  color: white;
}

.text-0054A5 {
  color: #0054a5;
}

.text-18364D, .home__tabchi__tab > *.uk-active > a {
  color: #18364d;
}

.text-3161C2 {
  color: #3161c2;
}

.text-161616 {
  color: #161616;
}

.text-3D3D3D {
  color: #3d3d3d;
}

.text-2BBEF9, .home__nav > li.uk-parent > a {
  color: #2bbef9;
}

.text-656565, .home__tabchi__tab > * > a {
  color: #656565;
}

.text-FF853F {
  color: #ff853f;
}

.text-484554, .home__tabchi__table tr td, .home__tabchi__table tr th {
  color: #484554;
}

.width-197px {
  max-width: 100%;
  width: 197px;
}

.width-386px {
  max-width: 100%;
  width: 386px;
}

.fz-11 {
  font-size: 0.6875rem;
}

.fz-12 {
  font-size: 0.75rem;
}

.fz-13 {
  font-size: 0.8125rem;
}

.fz-14, .home__tabchi__table tr td {
  font-size: 0.875rem;
}

.fz-15, .home__tabchi__table tr th {
  font-size: 0.9375rem;
}

.fz-16, .home__nav > li.uk-parent > a {
  font-size: 1rem;
}

.fz-18, .home__tabchi__tab > * > a {
  font-size: 1.125rem;
}

.fz-20 {
  font-size: 1.25rem;
}

.fz-21 {
  font-size: calc(1.25625rem + 0.075vw);
}
@media (min-width: 1200px) {
  .fz-21 {
    font-size: 1.3125rem;
  }
}

.fz-22 {
  font-size: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .fz-22 {
    font-size: 1.375rem;
  }
}

.fz-24 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .fz-24 {
    font-size: 1.5rem;
  }
}

.fz-26 {
  font-size: calc(1.2875rem + 0.45vw);
}
@media (min-width: 1200px) {
  .fz-26 {
    font-size: 1.625rem;
  }
}

.fz-28 {
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .fz-28 {
    font-size: 1.75rem;
  }
}

.fz-29 {
  font-size: calc(1.30625rem + 0.675vw);
}
@media (min-width: 1200px) {
  .fz-29 {
    font-size: 1.8125rem;
  }
}

.fz-30 {
  font-size: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .fz-30 {
    font-size: 1.875rem;
  }
}

.fz-32 {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .fz-32 {
    font-size: 2rem;
  }
}

.fz-33 {
  font-size: calc(1.33125rem + 0.975vw);
}
@media (min-width: 1200px) {
  .fz-33 {
    font-size: 2.0625rem;
  }
}

.fz-34 {
  font-size: calc(1.3375rem + 1.05vw);
}
@media (min-width: 1200px) {
  .fz-34 {
    font-size: 2.125rem;
  }
}

.fz-36 {
  font-size: calc(1.35rem + 1.2vw);
}
@media (min-width: 1200px) {
  .fz-36 {
    font-size: 2.25rem;
  }
}

.fz-38 {
  font-size: calc(1.3625rem + 1.35vw);
}
@media (min-width: 1200px) {
  .fz-38 {
    font-size: 2.375rem;
  }
}

.fz-40 {
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  .fz-40 {
    font-size: 2.5rem;
  }
}

.fz-42 {
  font-size: calc(1.3875rem + 1.65vw);
}
@media (min-width: 1200px) {
  .fz-42 {
    font-size: 2.625rem;
  }
}

.fz-44 {
  font-size: calc(1.4rem + 1.8vw);
}
@media (min-width: 1200px) {
  .fz-44 {
    font-size: 2.75rem;
  }
}

.fz-46 {
  font-size: calc(1.4125rem + 1.95vw);
}
@media (min-width: 1200px) {
  .fz-46 {
    font-size: 2.875rem;
  }
}

.fz-47 {
  font-size: calc(1.41875rem + 2.025vw);
}
@media (min-width: 1200px) {
  .fz-47 {
    font-size: 2.9375rem;
  }
}

.fz-48 {
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  .fz-48 {
    font-size: 3rem;
  }
}

.fz-50 {
  font-size: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .fz-50 {
    font-size: 3.125rem;
  }
}

.item-1px:nth-child(n+2) {
  margin-top: 0.0625rem;
}

.item-2px:nth-child(n+2) {
  margin-top: 0.125rem;
}

.item-3px:nth-child(n+2) {
  margin-top: 0.1875rem;
}

.item-4px:nth-child(n+2) {
  margin-top: 0.25rem;
}

.item-5px:nth-child(n+2) {
  margin-top: 0.3125rem;
}

.item-6px:nth-child(n+2) {
  margin-top: 0.375rem;
}

.item-8px:nth-child(n+2) {
  margin-top: 0.5rem;
}

.item-9px:nth-child(n+2) {
  margin-top: 0.5625rem;
}

.item-10px:nth-child(n+2) {
  margin-top: 0.625rem;
}

.item-12px:nth-child(n+2) {
  margin-top: 0.75rem;
}

.item-13px:nth-child(n+2) {
  margin-top: 0.8125rem;
}

.item-14px:nth-child(n+2) {
  margin-top: 0.875rem;
}

.item-15px:nth-child(n+2) {
  margin-top: 0.9375rem;
}

.item-16px:nth-child(n+2) {
  margin-top: 1rem;
}

.item-18px:nth-child(n+2) {
  margin-top: 1.125rem;
}

.item-20px:nth-child(n+2) {
  margin-top: 1.25rem;
}

.item-21px:nth-child(n+2) {
  margin-top: calc(1.25625rem + 0.075vw);
}
@media (min-width: 1200px) {
  .item-21px:nth-child(n+2) {
    margin-top: 1.3125rem;
  }
}

.item-22px:nth-child(n+2) {
  margin-top: calc(1.2625rem + 0.15vw);
}
@media (min-width: 1200px) {
  .item-22px:nth-child(n+2) {
    margin-top: 1.375rem;
  }
}

.item-23px:nth-child(n+2) {
  margin-top: calc(1.26875rem + 0.225vw);
}
@media (min-width: 1200px) {
  .item-23px:nth-child(n+2) {
    margin-top: 1.4375rem;
  }
}

.item-24px:nth-child(n+2) {
  margin-top: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .item-24px:nth-child(n+2) {
    margin-top: 1.5rem;
  }
}

.item-25px:nth-child(n+2) {
  margin-top: calc(1.28125rem + 0.375vw);
}
@media (min-width: 1200px) {
  .item-25px:nth-child(n+2) {
    margin-top: 1.5625rem;
  }
}

.item-26px:nth-child(n+2) {
  margin-top: calc(1.2875rem + 0.45vw);
}
@media (min-width: 1200px) {
  .item-26px:nth-child(n+2) {
    margin-top: 1.625rem;
  }
}

.item-27px:nth-child(n+2) {
  margin-top: calc(1.29375rem + 0.525vw);
}
@media (min-width: 1200px) {
  .item-27px:nth-child(n+2) {
    margin-top: 1.6875rem;
  }
}

.item-28px:nth-child(n+2) {
  margin-top: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  .item-28px:nth-child(n+2) {
    margin-top: 1.75rem;
  }
}

.item-30px:nth-child(n+2) {
  margin-top: calc(1.3125rem + 0.75vw);
}
@media (min-width: 1200px) {
  .item-30px:nth-child(n+2) {
    margin-top: 1.875rem;
  }
}

.item-34px:nth-child(n+2) {
  margin-top: calc(1.3375rem + 1.05vw);
}
@media (min-width: 1200px) {
  .item-34px:nth-child(n+2) {
    margin-top: 2.125rem;
  }
}

.item-35px:nth-child(n+2) {
  margin-top: calc(1.34375rem + 1.125vw);
}
@media (min-width: 1200px) {
  .item-35px:nth-child(n+2) {
    margin-top: 2.1875rem;
  }
}

.item-39px:nth-child(n+2) {
  margin-top: calc(1.36875rem + 1.425vw);
}
@media (min-width: 1200px) {
  .item-39px:nth-child(n+2) {
    margin-top: 2.4375rem;
  }
}

.item-45px:nth-child(n+2) {
  margin-top: calc(1.40625rem + 1.875vw);
}
@media (min-width: 1200px) {
  .item-45px:nth-child(n+2) {
    margin-top: 2.8125rem;
  }
}

.footer__bg {
  opacity: 0.7;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.62)), to(#63BEF0)), var(--pathImage) lightgray -0.785px 0px/100.057% 209.961% no-repeat;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.62) 0%, #63BEF0 100%), var(--pathImage) lightgray -0.785px 0px/100.057% 209.961% no-repeat;
  mix-blend-mode: multiply;
}
.footer__card {
  padding: 6px 10px 10px 10px;
}
.footer__bottom {
  border-top: 1px solid #CCF6FF;
}

.home__subnav {
  padding-left: 15px !important;
}
.home__subnav__card {
  padding-bottom: 30px;
}
.home__subnav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  color: #18364D !important;
  padding: 10px 0;
}
.home__subnav > li > a:hover {
  color: #2BBEF9 !important;
}
.home__subnav__icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.home__subnav__icon > * {
  opacity: 0;
}
.home__subnav__icon.science {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='23' viewBox='0 0 19 23' fill='none'%3E%3Cg clip-path='url(%23clip0_4093_702)'%3E%3Cpath d='M9.50002 0C10.492 0 11.3347 1.3645 11.8965 3.56942C12.0914 4.33496 12.2582 5.20907 12.3899 6.16553C13.2326 5.8099 14.0262 5.52726 14.7442 5.32324C16.8142 4.73926 18.3434 4.83659 18.8403 5.75187C19.3354 6.66715 18.6489 8.12712 17.139 9.74618C16.6158 10.3077 15.989 10.8992 15.2762 11.5C15.5606 11.7396 15.8328 11.9792 16.0891 12.215C15.8556 12.3891 15.6642 12.6193 15.5308 12.8888C15.2358 12.6174 14.9198 12.3423 14.5862 12.0634C13.9981 12.5295 13.3643 12.9974 12.6901 13.4597C12.6515 14.3151 12.5883 15.1349 12.504 15.9117C13.3871 16.2935 14.2158 16.593 14.9602 16.8027C16.6474 17.2781 17.829 17.3136 18.1099 16.797C18.2591 16.5219 18.1538 16.0895 17.8395 15.5467C18.0941 15.4288 18.3188 15.2491 18.4979 15.0264C19.0053 15.9117 19.1475 16.681 18.842 17.2444C18.3452 18.1597 16.8177 18.257 14.746 17.673C14.0279 17.4709 13.2344 17.1864 12.3899 16.8307C12.2582 17.7872 12.0914 18.6613 11.8965 19.4268C11.3347 21.6318 10.492 22.9963 9.50002 22.9963C8.50806 22.9963 7.66533 21.6318 7.10351 19.4268C6.90863 18.6613 6.74184 17.7872 6.61017 16.8307C6.30468 16.9599 6.00621 17.0797 5.71652 17.1882C5.6937 16.8757 5.60065 16.5855 5.45493 16.3328C5.79202 16.2056 6.13964 16.0652 6.4978 15.9098C6.41353 15.1331 6.34857 14.3114 6.3117 13.456C5.63752 12.9937 5.00372 12.5257 4.41556 12.0597C3.66237 12.6848 3.00399 13.3006 2.46149 13.8827C1.229 15.2079 0.609242 16.2823 0.890151 16.8008C1.04641 17.089 1.48182 17.2051 2.12791 17.1695C2.12264 17.2257 2.12088 17.2837 2.12088 17.3417C2.12088 17.5869 2.16478 17.8209 2.24203 18.0361C1.21144 18.0829 0.47581 17.8321 0.159787 17.2481C-0.335316 16.3328 0.351156 14.8729 1.86104 13.2538C2.38599 12.6923 3.01102 12.1008 3.72382 11.5C3.01277 10.8992 2.38599 10.3077 1.86104 9.74618C0.351156 8.12712 -0.335316 6.66715 0.159787 5.75187C0.656645 4.83659 2.18409 4.73926 4.2558 5.32324C4.97387 5.52539 5.76744 5.80802 6.61192 6.16553C6.65933 5.81925 6.712 5.48421 6.76818 5.16227C7.01222 5.29329 7.2861 5.36629 7.57755 5.36629H7.59335C7.52839 5.73503 7.47045 6.12248 7.41778 6.52303C8.09021 6.83187 8.78897 7.18376 9.50002 7.57495C10.2128 7.18376 10.9098 6.83187 11.5823 6.52303C11.4506 5.51416 11.2803 4.59888 11.0784 3.80713C10.6219 2.014 10.0601 0.904053 9.50002 0.904053C9.18926 0.904053 8.87675 1.24658 8.58355 1.85677C8.35707 1.69393 8.09547 1.5835 7.81105 1.54419C8.29035 0.559652 8.86446 0 9.50002 0ZM16.9933 12.492C17.6376 12.492 18.1608 13.0498 18.1608 13.7367C18.1608 14.4237 17.6376 14.9814 16.9933 14.9814C16.3489 14.9814 15.8257 14.4237 15.8257 13.7367C15.8257 13.0498 16.3472 12.492 16.9933 12.492ZM3.92397 16.0577C4.56831 16.0577 5.0915 16.6155 5.0915 17.3024C5.0915 17.9893 4.56831 18.5471 3.92397 18.5471C3.27964 18.5471 2.75644 17.9893 2.75644 17.3024C2.75644 16.6155 3.27964 16.0577 3.92397 16.0577ZM7.57579 2.20117C8.22013 2.20117 8.74332 2.75895 8.74332 3.44588C8.74332 4.13281 8.22013 4.69059 7.57579 4.69059C6.93146 4.69059 6.40826 4.13281 6.40826 3.44588C6.40826 2.75895 6.93146 2.20117 7.57579 2.20117ZM9.50002 9.84538C10.3568 9.84538 11.052 10.5866 11.052 11.5C11.052 12.4134 10.3568 13.1546 9.50002 13.1546C8.64325 13.1546 7.948 12.4134 7.948 11.5C7.948 10.5866 8.64325 9.84538 9.50002 9.84538ZM4.41381 10.9347C5.00196 10.4687 5.63576 10.0007 6.30994 9.53841C6.34857 8.6849 6.41177 7.8632 6.49605 7.08643C5.61118 6.70459 4.78426 6.40511 4.03985 6.1936C2.35264 5.71818 1.17106 5.68262 0.890151 6.19922C0.609242 6.71769 1.229 7.79207 2.45973 9.11165C3.00224 9.69377 3.66062 10.3096 4.41381 10.9347ZM11.5823 16.4788C10.9098 16.17 10.2111 15.8162 9.50002 15.425C8.78721 15.8162 8.09021 16.1681 7.41778 16.4788C7.54946 17.4877 7.71976 18.403 7.92166 19.1947C8.37814 20.9879 8.93996 22.0978 9.50178 22.0978C10.0618 22.0978 10.6254 20.9879 11.0801 19.1947C11.2803 18.403 11.4506 17.4858 11.5823 16.4788ZM8.58882 14.9084C8.35707 14.7718 8.12356 14.6314 7.89006 14.4873C7.88304 14.4836 7.87426 14.4779 7.86724 14.4723C7.63724 14.3301 7.41076 14.1878 7.18779 14.0437C7.21939 14.5603 7.25977 15.0619 7.30893 15.5448C7.72678 15.3502 8.15517 15.1368 8.58882 14.9084ZM10.4112 8.09155C10.6447 8.22819 10.88 8.37044 11.117 8.51457C11.3523 8.65869 11.584 8.80469 11.8123 8.95256C11.7807 8.43783 11.7403 7.9362 11.6911 7.45329C11.2733 7.64982 10.8466 7.8632 10.4112 8.09155ZM12.6901 9.53841C13.3643 10.0007 13.9981 10.4687 14.5862 10.9347C15.3394 10.3096 15.9978 9.69377 16.5403 9.11165C17.7693 7.79207 18.389 6.71769 18.1099 6.19922C17.829 5.68262 16.6474 5.71818 14.9602 6.1936C14.2158 6.40324 13.3871 6.70272 12.504 7.08643C12.5883 7.8632 12.6515 8.68302 12.6901 9.53841ZM13.884 11.5C13.5153 11.2136 13.129 10.9254 12.7252 10.639C12.7305 10.9235 12.734 11.2099 12.734 11.5C12.734 11.7901 12.7305 12.0784 12.7252 12.3629C13.129 12.0765 13.5153 11.7882 13.884 11.5ZM11.8632 10.0438C11.4857 9.7911 11.0942 9.54028 10.6939 9.29508C10.2936 9.04801 9.89505 8.81405 9.50002 8.58944C9.10499 8.81217 8.70645 9.04801 8.30616 9.29508H8.3044C7.9041 9.54216 7.51434 9.7911 7.13687 10.0438C7.12107 10.5211 7.11229 11.0059 7.11229 11.5C7.11229 11.9941 7.12107 12.4808 7.13687 12.9562C7.51083 13.2052 7.89533 13.4522 8.29035 13.6956C8.29211 13.6956 8.30089 13.7012 8.30089 13.7012L8.30616 13.7049C8.70821 13.952 9.10675 14.1878 9.50178 14.4106C9.89329 14.1897 10.2866 13.9576 10.6834 13.7124C10.6904 13.7087 10.6974 13.703 10.7044 13.6993C11.1012 13.4541 11.4892 13.207 11.8632 12.9562C11.879 12.4808 11.8877 11.9941 11.8877 11.5C11.8877 11.0059 11.879 10.5211 11.8632 10.0438ZM8.58707 8.09155C8.15341 7.8632 7.72503 7.64982 7.30893 7.45329C7.25977 7.93807 7.21939 8.43783 7.18779 8.95443C7.41602 8.80656 7.64778 8.66056 7.88304 8.51644C8.1183 8.37044 8.35356 8.22819 8.58707 8.09155ZM5.11608 11.5C5.48477 11.7882 5.87102 12.0765 6.27483 12.3629C6.26956 12.0784 6.26605 11.7901 6.26605 11.5C6.26605 11.2099 6.26956 10.9216 6.27483 10.6371C5.87102 10.9235 5.48302 11.2118 5.11608 11.5ZM10.4095 14.9084C10.8449 15.1368 11.2715 15.3502 11.6894 15.5467C11.7385 15.0619 11.7789 14.5622 11.8105 14.0456C11.5823 14.1934 11.3505 14.3394 11.1135 14.4854L11.1012 14.4929C10.8712 14.6352 10.6395 14.7737 10.4095 14.9084Z' fill='%23A1A3A5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4093_702'%3E%3Crect width='19' height='23' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.home__subnav__icon.education {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M10.6348 16.341C8.75703 16.341 6.85352 15.8061 4.97793 14.749C4.86406 14.6846 4.79102 14.5621 4.79102 14.4311V9.24902C4.79102 9.04707 4.9543 8.88379 5.15625 8.88379C5.3582 8.88379 5.52148 9.04707 5.52148 9.24902V14.2162C7.22734 15.1422 8.94609 15.6127 10.6348 15.6127C12.3234 15.6127 14.0465 15.1422 15.7545 14.2162V9.44023C15.7545 9.23828 15.9178 9.075 16.1197 9.075C16.3217 9.075 16.485 9.23828 16.485 9.44023V14.4311C16.485 14.5621 16.4141 14.6846 16.298 14.749C14.4182 15.8061 12.5125 16.341 10.6348 16.341Z' fill='%23A1A3A5'/%3E%3Cpath d='M10.6349 12.0742C10.5833 12.0742 10.5318 12.0635 10.4845 12.042L2.25167 8.29941C2.12707 8.24355 2.04328 8.12109 2.03898 7.98359C2.03253 7.84609 2.10343 7.71719 2.22374 7.65058L10.4544 2.97988C10.564 2.91758 10.6972 2.91543 10.8068 2.97558L19.4993 7.64414C19.6218 7.71074 19.697 7.8418 19.6905 7.98144C19.6841 8.12109 19.5982 8.2457 19.4693 8.30156L15.963 9.81191C15.7782 9.8914 15.5634 9.80547 15.4839 9.6207C15.4044 9.43594 15.4903 9.22109 15.6751 9.1416L18.4874 7.92988L10.6392 3.71465L3.20558 7.92988L10.6392 11.3094L12.9616 10.3082C13.1464 10.2287 13.3612 10.3146 13.4407 10.4994C13.5202 10.6842 13.4343 10.899 13.2495 10.9785L10.7788 12.042C10.7337 12.0635 10.6843 12.0742 10.6349 12.0742Z' fill='%23A1A3A5'/%3E%3Cpath d='M14.5664 13.692C14.3644 13.692 14.2012 13.5287 14.2012 13.3268V10.1922L10.7594 7.7838C10.5939 7.66778 10.5531 7.44005 10.6691 7.27462C10.7851 7.10919 11.0129 7.06837 11.1783 7.18438L14.7769 9.70235C14.8736 9.7711 14.9338 9.88282 14.9338 10.001V13.3246C14.9316 13.5287 14.7683 13.692 14.5664 13.692ZM4.19373 17.991C4.1744 17.991 4.15291 17.9889 4.13143 17.9867C3.93162 17.9524 3.79842 17.7654 3.8328 17.5656L4.1035 15.9672C4.13787 15.7674 4.32479 15.6342 4.52459 15.6686C4.7244 15.7029 4.8576 15.8899 4.82323 16.0897L4.55252 17.6881C4.52244 17.8664 4.36776 17.991 4.19373 17.991ZM5.69764 17.991C5.6783 17.991 5.65682 17.9889 5.63533 17.9867C5.43553 17.9524 5.30233 17.7654 5.3367 17.5656L5.6074 15.9672C5.64178 15.7674 5.82869 15.6342 6.0285 15.6686C6.2283 15.7029 6.36151 15.8899 6.32713 16.0897L6.05643 17.6881C6.02635 17.8664 5.87166 17.991 5.69764 17.991ZM7.41639 17.991C7.40135 17.991 7.38416 17.991 7.36912 17.9889C7.16932 17.9631 7.02752 17.7805 7.0533 17.5807L7.18866 16.5301C7.21444 16.3303 7.39705 16.1885 7.59686 16.2143C7.79666 16.24 7.93846 16.4227 7.91268 16.6225L7.77733 17.6731C7.75369 17.8578 7.59686 17.991 7.41639 17.991ZM15.415 17.7891C14.7447 17.7891 14.2012 17.3164 14.2012 16.7342C14.2012 16.152 14.7447 15.6793 15.415 15.6793C16.0853 15.6793 16.6289 16.152 16.6289 16.7342C16.6289 17.3164 16.0853 17.7891 15.415 17.7891ZM15.415 16.4098C15.1572 16.4098 14.9316 16.5623 14.9316 16.7342C14.9316 16.9082 15.1572 17.0586 15.415 17.0586C15.6728 17.0586 15.8984 16.9061 15.8984 16.7342C15.8984 16.5602 15.6728 16.4098 15.415 16.4098Z' fill='%23A1A3A5'/%3E%3Cpath d='M20.0599 19.0717H1.94211C1.83039 19.0717 1.72512 19.0201 1.65637 18.9342C1.58762 18.8482 1.56184 18.7344 1.58547 18.6248L2.4341 14.923C2.47278 14.7576 2.61887 14.6395 2.79074 14.6395H4.4386C4.64055 14.6395 4.80383 14.8027 4.80383 15.0047C4.80383 15.2066 4.64055 15.3699 4.4386 15.3699H3.08078L2.39973 18.3412H19.4347L17.7611 15.3699H16.8587C16.6568 15.3699 16.4935 15.2066 16.4935 15.0047C16.4935 14.8027 16.6568 14.6395 16.8587 14.6395H17.9738C18.1048 14.6395 18.2273 14.7103 18.2917 14.8264L20.3779 18.5281C20.4423 18.642 20.4402 18.7795 20.3757 18.8912C20.3091 19.0029 20.1909 19.0717 20.0599 19.0717Z' fill='%23A1A3A5'/%3E%3C/svg%3E");
}
.home__subnav__icon.earth {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M19.5616 18.4121C19.5616 19.2565 18.8784 19.9397 18.034 19.9397C17.1897 19.9397 16.5065 19.2543 16.5065 18.4121C16.5065 17.5678 17.1918 16.8846 18.034 16.8846C18.8784 16.8846 19.5616 17.5678 19.5616 18.4121ZM17.4239 11.3846C17.4239 14.9295 14.5514 17.802 11.0065 17.802C7.46157 17.802 4.58911 14.9295 4.58911 11.3846C4.58911 7.83966 7.46157 4.96719 11.0065 4.96719C14.5493 4.96505 17.4239 7.83966 17.4239 11.3846Z' fill='white'/%3E%3Cpath d='M11.0043 17.8277C7.45937 17.8277 4.58691 14.9553 4.58691 11.4103C4.58691 7.86543 7.45937 4.99297 11.0043 4.99297' fill='white'/%3E%3Cpath d='M10.6993 17.802C10.6993 17.802 12.3601 18.1264 14.3667 16.8846L14.6718 16.5795L14.0595 15.9672L14.3646 14.1346L13.4493 13.2172L12.2269 12.6049H10.3943L9.47687 12.9121L8.86457 14.1346L9.16965 15.6621H10.3921L10.6972 16.8846V17.802H10.6993ZM7.94933 7.10488H8.56164L9.47902 5.27226C9.47902 5.27226 8.43273 5.06387 7.33918 6.18965L7.94933 7.10488ZM13.7566 8.93965L14.0616 10.4672V11.3846L13.4493 11.9947L14.6718 12.2998L15.2841 10.7723L14.979 8.63242L16.2015 9.24472H16.8116C16.513 7.01679 14.0616 5.88242 14.0616 5.88242L13.1443 5.57734L12.2269 6.1875L11.9218 7.10488H10.6993L11.0044 7.71504V9.24258H9.78195V10.7701L11.0044 11.0752L12.2269 10.7701V9.24258L13.7566 8.93965ZM4.89426 12.2998L6.42179 12.6049L7.0341 13.5223V14.7447L6.72687 15.6621L6.42179 15.9672C6.42179 15.9672 4.72453 14.2613 4.89426 12.2998Z' fill='%23A1A3A5'/%3E%3Cpath d='M11.0042 21.1578H10.9076L10.914 20.5584C11.305 20.5627 11.7025 20.5412 12.0914 20.4961L12.1623 21.0912C11.7798 21.1342 11.391 21.1578 11.0042 21.1578ZM10.2824 21.1299C9.86558 21.0998 9.44663 21.0418 9.03843 20.958L9.15874 20.3715C9.54116 20.4488 9.93433 20.5047 10.3253 20.5326L10.2824 21.1299ZM12.7832 20.9967L12.6757 20.4059C13.0603 20.335 13.4449 20.2383 13.8187 20.118L14.0013 20.6895C13.6017 20.8184 13.1935 20.9193 12.7832 20.9967ZM8.42827 20.8141C8.02651 20.7045 7.6269 20.567 7.24019 20.4059L7.47222 19.8537C7.83315 20.0041 8.20913 20.133 8.58726 20.2361L8.42827 20.8141ZM14.59 20.4789L14.3708 19.9203C14.7339 19.7764 15.0927 19.6088 15.4365 19.4176L15.7265 19.9418C15.3613 20.1459 14.9789 20.3242 14.59 20.4789ZM6.6687 20.1437C6.29487 19.959 5.92964 19.7463 5.58159 19.5143L5.9146 19.0158C6.24116 19.2328 6.58276 19.4326 6.93511 19.6066L6.6687 20.1437ZM5.07026 19.149C4.7394 18.8955 4.42144 18.6184 4.12495 18.324L4.54605 17.8986C4.82534 18.1736 5.12397 18.4357 5.43335 18.6721L5.07026 19.149ZM3.69311 17.8686C3.41597 17.557 3.15601 17.224 2.92183 16.8781L3.41812 16.5408C3.6394 16.8652 3.88218 17.1768 4.14214 17.4689L3.69311 17.8686ZM2.58667 16.3518C2.37397 15.993 2.18276 15.617 2.01948 15.2324L2.56948 14.9961C2.72417 15.3549 2.90249 15.7094 3.10229 16.0467L2.58667 16.3518ZM19.5808 16.0746L19.0544 15.7867C19.2435 15.443 19.4111 15.0842 19.5529 14.7189L20.1115 14.9381C19.9611 15.327 19.7806 15.7094 19.5808 16.0746ZM1.7896 14.648C1.64995 14.2549 1.53608 13.8488 1.448 13.4406L2.03452 13.316C2.11616 13.6984 2.22358 14.0809 2.35464 14.4482L1.7896 14.648ZM20.322 14.3451L19.7505 14.1646C19.8687 13.7908 19.9654 13.4062 20.0341 13.0217L20.625 13.1291C20.5498 13.5373 20.4488 13.9477 20.322 14.3451ZM1.33628 12.824C1.27612 12.4115 1.2396 11.9926 1.23315 11.5736L1.83257 11.5629C1.83901 11.9561 1.87339 12.3514 1.92925 12.7359L1.33628 12.824ZM20.7152 12.5061L20.1201 12.4373C20.1587 12.0893 20.1802 11.7348 20.1802 11.3846V11.26L20.7796 11.2514V11.3824C20.7775 11.7584 20.7582 12.1365 20.7152 12.5061ZM1.84116 10.9721L1.24175 10.9463C1.26108 10.5295 1.3062 10.1084 1.3771 9.69805L1.96792 9.80117C1.89917 10.1857 1.85835 10.5789 1.84116 10.9721ZM20.1523 10.6713C20.1222 10.2803 20.0664 9.88711 19.9869 9.50469L20.5734 9.38223C20.6572 9.79043 20.7173 10.2072 20.7496 10.624L20.1523 10.6713ZM2.08608 9.22324L1.50386 9.08359C1.60269 8.67754 1.72729 8.27363 1.87769 7.88477L2.43843 8.09961C2.29663 8.46484 2.17847 8.84297 2.08608 9.22324ZM19.8472 8.9332C19.7419 8.55723 19.613 8.18125 19.4605 7.82031L20.0126 7.58828C20.1759 7.97285 20.3134 8.37246 20.4251 8.77422L19.8472 8.9332ZM2.66616 7.55606L2.12046 7.30469C2.29448 6.92656 2.49644 6.55488 2.71772 6.20039L3.22476 6.51836C3.01851 6.85137 2.82944 7.19941 2.66616 7.55606ZM19.2156 7.28535C19.0416 6.93516 18.8417 6.59355 18.6226 6.26914L19.121 5.93398C19.3552 6.27988 19.5658 6.64512 19.7527 7.0168L19.2156 7.28535ZM3.55562 6.02852L3.06792 5.67832C3.31069 5.33887 3.57925 5.01445 3.86499 4.70937L4.30327 5.11973C4.03472 5.40547 3.78335 5.7127 3.55562 6.02852ZM18.2767 5.79004C18.0382 5.48066 17.7761 5.18203 17.499 4.90488L17.9244 4.48164C18.2187 4.77813 18.498 5.09395 18.7515 5.4248L18.2767 5.79004ZM4.72007 4.70078L4.30972 4.26465C4.61265 3.97891 4.93921 3.71035 5.27651 3.46543L5.62886 3.95098C5.30874 4.18086 5.00366 4.43223 4.72007 4.70078ZM17.0714 4.50098C16.7771 4.24102 16.4634 3.99824 16.139 3.7791L16.4742 3.28281C16.8201 3.51699 17.1531 3.7748 17.4667 4.05195L17.0714 4.50098ZM6.1144 3.62012L5.79429 3.11309C6.14663 2.88965 6.51831 2.6877 6.89644 2.51367L7.1478 3.05723C6.79331 3.22266 6.44526 3.41172 6.1144 3.62012ZM15.6406 3.46543C15.3033 3.26777 14.9488 3.08945 14.5878 2.93691L14.8242 2.38477C15.2087 2.54805 15.5847 2.73711 15.9457 2.9498L15.6406 3.46543ZM7.68921 2.82734L7.47222 2.26875C7.86108 2.11836 8.26499 1.9916 8.6689 1.89062L8.81069 2.47285C8.43257 2.56738 8.05444 2.68555 7.68921 2.82734ZM14.0378 2.72207C13.6683 2.59316 13.2859 2.48574 12.9035 2.40625L13.0259 1.81973C13.4341 1.90566 13.8423 2.01953 14.2355 2.15703L14.0378 2.72207ZM9.38862 2.35254L9.28335 1.76172C9.6937 1.68867 10.1126 1.64141 10.5294 1.62207L10.5574 2.22148C10.1664 2.23867 9.77319 2.28379 9.38862 2.35254ZM12.3234 2.30312C11.9367 2.24727 11.5414 2.21719 11.1482 2.21074L11.1568 1.61133C11.5757 1.61777 11.9968 1.65 12.4072 1.71016L12.3234 2.30312ZM19.0695 16.9082C19.1296 16.8201 19.1876 16.7342 19.2435 16.6461L18.7386 16.3238C18.6677 16.4334 18.5947 16.5451 18.5173 16.6525C18.3626 16.6096 18.2015 16.5881 18.0339 16.5881C17.0263 16.5881 16.2056 17.4088 16.2056 18.4164C16.2056 18.584 16.2292 18.7451 16.2701 18.8998C16.1626 18.975 16.0509 19.0502 15.9414 19.1211L16.2636 19.626C16.3517 19.5701 16.4398 19.5121 16.5257 19.452C16.8566 19.9311 17.4066 20.2447 18.0318 20.2447C19.0394 20.2447 19.8601 19.424 19.8601 18.4164C19.8623 17.7891 19.5464 17.2369 19.0695 16.9082ZM18.0339 19.641C17.3572 19.641 16.805 19.091 16.805 18.4121C16.805 17.7354 17.355 17.1832 18.0339 17.1832C18.7107 17.1832 19.2628 17.7332 19.2628 18.4121C19.2628 19.0889 18.7107 19.641 18.0339 19.641ZM11.0042 4.66641C7.30034 4.66641 4.28608 7.68066 4.28608 11.3846C4.28608 15.0885 7.30034 18.1027 11.0042 18.1027C14.7082 18.1027 17.7224 15.0885 17.7224 11.3846C17.7224 7.68066 14.7082 4.66641 11.0042 4.66641ZM16.616 8.94394H16.2722L14.6007 8.1082L14.9746 10.7357L14.4912 11.9453L14.0357 11.8314L14.3601 11.507V10.1234L13.9755 8.58731L11.9259 8.99766V10.5381L11.0042 10.768L10.0826 10.5381V9.54336H11.305V7.64414L11.1847 7.40352H12.1386L12.4738 6.4002L13.5845 5.84375L13.5781 5.83301C14.9316 6.46465 16.0166 7.57539 16.616 8.94394ZM8.96968 5.61387L8.37456 6.80625H8.10815L7.71929 6.22402C8.1103 5.9748 8.52925 5.7707 8.96968 5.61387ZM5.02515 12.6779L6.24331 12.8799L6.73101 13.6125V14.7082L6.52261 15.5439C5.78999 14.7533 5.26147 13.7693 5.02515 12.6779ZM11 17.5012V16.848L10.6283 15.3613H9.41655L9.18022 14.1754L9.6894 13.157L10.4414 12.9057H12.1558L13.2708 13.4643L14.0443 14.2377L13.7392 16.0703L14.2419 16.573C13.3031 17.1617 12.1923 17.5012 11.0042 17.5012H11ZM14.7425 16.225L14.3837 15.8662L14.6888 14.0336L13.6275 12.9723L12.2976 12.3084H10.3447L9.26401 12.6693L8.55073 14.0916L8.92456 15.9607H10.1578L10.3984 16.9211V17.4711C9.11577 17.3443 7.94702 16.8201 7.02104 16.023L7.33042 14.7812V13.432L6.5978 12.332L4.92417 12.0527C4.90054 11.8336 4.88765 11.6102 4.88765 11.3846C4.88765 9.43379 5.80503 7.69355 7.23374 6.57207L7.79019 7.40566H8.74624L9.74526 5.40547L9.73237 5.39902C10.1427 5.31094 10.5681 5.26582 11.0042 5.26582C11.6423 5.26582 12.2589 5.36465 12.839 5.54727L11.9818 5.97695L11.7046 6.80625H10.2136L10.7056 7.78809V8.94609H9.48315V11.0086L11.0042 11.3889L12.5275 11.0086V9.4918L13.5351 9.28984L13.7628 10.1986V11.26L12.8648 12.158L14.8542 12.6564L15.5933 10.8109L15.357 9.15879L16.1304 9.54551H16.8416C17.0242 10.1256 17.1251 10.7443 17.1251 11.3846C17.123 13.3504 16.1884 15.1035 14.7425 16.225Z' fill='%23A1A3A5'/%3E%3C/svg%3E");
}
.home__subnav__icon.knowledge {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='22' viewBox='0 0 17 22' fill='none'%3E%3Cg clip-path='url(%23clip0_4093_733)'%3E%3Cpath d='M1.74819 18.7057L1.79167 11.1969H0.934783V20.7503C2.11413 20.4495 3.29529 20.258 4.48732 20.2508C5.58696 20.2437 6.68659 20.3958 7.78986 20.7647C7.10507 20.2168 6.34058 19.814 5.52717 19.5508C4.5 19.2196 3.3913 19.1104 2.25362 19.207C1.99638 19.2285 1.77174 19.0387 1.75 18.7863C1.74638 18.7577 1.74638 18.7326 1.74819 18.7057ZM3.07065 6.18571C2.96196 6.1875 2.86413 6.14632 2.79167 6.08008C2.71739 6.01025 2.67029 5.91536 2.66667 5.80436C2.66304 5.69694 2.70471 5.59489 2.77355 5.52327C2.8442 5.44987 2.94022 5.40332 3.05254 5.39974L3.9221 5.37109C4.0308 5.36751 4.13406 5.40869 4.20652 5.47673C4.2808 5.54655 4.3279 5.64144 4.33152 5.75244V5.75781H4.33333L4.33152 5.77214C4.32971 5.8724 4.28986 5.9655 4.22464 6.03353C4.15399 6.10693 4.05797 6.15348 3.94565 6.15706H3.94022V6.15885H3.93116L3.07065 6.18571ZM8.42572 0.384928C8.42935 0.275716 8.47645 0.179036 8.55072 0.109212C8.62319 0.0411784 8.72283 0 8.82971 0.00179036V0C8.83877 0 8.84783 0.00179036 8.85688 0.00179036C8.95652 0.0107422 9.0471 0.0555013 9.11232 0.121745C9.18116 0.193359 9.22283 0.290039 9.22101 0.397461H9.22283C9.22283 0.404622 9.22283 0.411784 9.22101 0.417155L9.19928 1.25684H9.20109C9.20109 1.26579 9.19928 1.27474 9.19928 1.28369C9.19203 1.38395 9.14493 1.47168 9.0779 1.53613C9.00543 1.60417 8.9058 1.64535 8.79891 1.64355C8.78986 1.64355 8.7808 1.64355 8.77174 1.64176C8.67029 1.6346 8.58152 1.58805 8.5163 1.52181C8.44746 1.4502 8.4058 1.35173 8.4058 1.24609H8.40399C8.40399 1.23893 8.40399 1.23177 8.4058 1.2264L8.42572 0.384928ZM12.1866 1.54329C12.2482 1.45199 12.3406 1.39648 12.4384 1.37679C12.538 1.3571 12.6449 1.375 12.7373 1.43587L12.7391 1.43766C12.8297 1.49674 12.8877 1.58984 12.9076 1.68831C12.9275 1.78678 12.9076 1.89242 12.8478 1.98372L12.3641 2.69987C12.3025 2.79118 12.2101 2.84847 12.1105 2.86816C12.0109 2.88786 11.904 2.86995 11.8116 2.80908C11.7192 2.74821 11.663 2.6569 11.6431 2.55843C11.6232 2.45996 11.6413 2.35433 11.7029 2.26302L12.1866 1.54329ZM13.9004 4.96647L13.913 4.96468C14.0163 4.95931 14.1123 4.99154 14.1884 5.05241C14.2681 5.11507 14.3207 5.20996 14.3333 5.31738V5.32096C14.3333 5.32096 14.3333 5.33171 14.3333 5.3335C14.3388 5.43555 14.3062 5.53223 14.2446 5.60563C14.1812 5.68441 14.0851 5.73633 13.9764 5.74886L13.1105 5.83838C13.0018 5.84912 12.8967 5.8151 12.8188 5.75244C12.7391 5.68978 12.6848 5.59489 12.6739 5.48747C12.663 5.38005 12.6975 5.27621 12.7609 5.19922C12.8243 5.12044 12.9203 5.06673 13.029 5.05599C13.3207 5.02734 13.6105 4.99333 13.9004 4.96647ZM4.11232 1.85661C4.03261 1.78141 3.98913 1.68294 3.98551 1.58268C3.98188 1.48242 4.0163 1.38037 4.09058 1.3016C4.16667 1.22103 4.2663 1.17985 4.36775 1.17627C4.4692 1.17269 4.57246 1.20671 4.65217 1.28011L5.28986 1.86735C5.36957 1.94076 5.41304 2.04102 5.41667 2.14128C5.42029 2.24333 5.38587 2.34359 5.31159 2.42236C5.23732 2.50114 5.13587 2.54411 5.03442 2.54769C4.93116 2.55127 4.82971 2.51725 4.75 2.44385L4.11232 1.85661ZM6.11413 9.19352C5.96377 9.02344 5.80978 8.84977 5.66123 8.65104C5.50725 8.44694 5.36051 8.21598 5.23007 7.94206H5.22826C5.10326 7.67529 5.00362 7.40137 4.93659 7.12028C4.86957 6.84098 4.83514 6.55452 4.83877 6.25911C4.84058 5.9655 4.88043 5.67008 4.95833 5.3693C5.03804 5.06852 5.15399 4.76595 5.31341 4.46338L5.3279 4.43652C5.53442 4.08919 5.78442 3.79736 6.06341 3.55745C6.36051 3.30143 6.68841 3.10628 7.03261 2.96663L7.05978 2.95768C7.32971 2.85026 7.6087 2.77865 7.88949 2.73926C8.18659 2.69629 8.49094 2.69092 8.79529 2.71777C9.09058 2.74463 9.38225 2.80371 9.66304 2.89323C9.94565 2.98275 10.2156 3.1027 10.4674 3.24951C10.7971 3.44287 11.0978 3.68457 11.3533 3.96924C11.5996 4.24495 11.8007 4.55827 11.9457 4.9056C12.0236 5.0918 12.0888 5.29411 12.1377 5.51074C12.1866 5.7238 12.2156 5.94938 12.2228 6.18392C12.2301 6.42741 12.212 6.67806 12.163 6.93766C12.1178 7.18115 12.0435 7.43001 11.9402 7.68425C11.9312 7.70752 11.9185 7.729 11.904 7.7487L10.4293 10.0135C10.3768 10.0941 10.2935 10.1442 10.2029 10.1567L7.11051 10.599C6.94746 10.6222 6.7971 10.5202 6.75362 10.368C6.67572 10.1424 6.57609 9.91504 6.46377 9.70736C6.35688 9.51042 6.23732 9.33317 6.11413 9.19352ZM6.17935 8.27149C6.31522 8.45231 6.45833 8.61523 6.59964 8.77458C6.75725 8.95361 6.90399 9.17025 7.03261 9.40479C7.12319 9.57129 7.20652 9.74854 7.27899 9.92936L9.96377 9.54802L11.3478 7.42106C11.4312 7.21517 11.4891 7.01465 11.5254 6.82308C11.5652 6.60824 11.5815 6.40234 11.5761 6.20361V6.20182C11.5707 6.01025 11.5453 5.82585 11.5072 5.65039C11.4692 5.47852 11.413 5.31022 11.346 5.1473C11.2301 4.86442 11.067 4.61198 10.8714 4.39176C10.663 4.15902 10.4149 3.96029 10.1395 3.79915C9.92754 3.67562 9.70109 3.57536 9.46739 3.50016C9.23007 3.42497 8.98551 3.37484 8.73913 3.35156C8.48913 3.32829 8.23551 3.33545 7.9837 3.36947C7.75 3.40169 7.52174 3.46077 7.30435 3.54671L7.27899 3.55745C6.99638 3.67025 6.73007 3.82959 6.49275 4.03548C6.26812 4.22884 6.06522 4.46696 5.89493 4.75342L5.89312 4.757C5.75362 5.02197 5.65399 5.278 5.58877 5.52865C5.52355 5.77751 5.49094 6.02279 5.48913 6.26449C5.48732 6.5026 5.5163 6.74072 5.57246 6.97526C5.62862 7.2098 5.71196 7.44076 5.82065 7.67171H5.81884C5.92391 7.90267 6.04891 8.09603 6.17935 8.27149ZM9.2663 13.7912C9.05978 13.9111 8.8279 13.9792 8.59601 13.9935C8.36051 14.0078 8.125 13.9631 7.90761 13.861C6.84964 13.3507 7.13768 12.1602 6.92754 11.2399L10.1739 10.7619C9.94384 11.8325 10.4112 13.1359 9.2663 13.7912ZM14.3351 10.8049C14.3333 10.7834 14.3297 10.7601 14.3297 10.735C14.3297 10.7118 14.3315 10.6885 14.3351 10.6652V9.14518C13.8714 9.10221 13.5616 9.09863 13.0996 9.13802C13.2029 8.81217 13.3152 8.51318 13.4348 8.1945C13.9692 8.17481 14.346 8.20345 14.8696 8.28044C15.1014 8.31266 15.2681 8.51139 15.2681 8.73519V10.2731H15.2699H16.5344C16.7917 10.2731 17 10.4808 17 10.735V21.3519C17 21.6061 16.7917 21.812 16.5344 21.812C16.4819 21.812 16.4312 21.8049 16.3841 21.7869C15.0833 21.4199 13.7917 21.1746 12.5127 21.1657C11.2645 21.1585 10.0181 21.3752 8.7663 21.9194C8.68841 21.9696 8.59601 21.9982 8.5 21.9964C8.4058 21.9982 8.31341 21.9696 8.23551 21.9194C6.98551 21.3734 5.73732 21.1567 4.48913 21.1657C3.21014 21.1729 1.91848 21.4181 0.615942 21.7869C0.568841 21.8031 0.518116 21.812 0.46558 21.812C0.208333 21.8156 0 21.6097 0 21.3537V10.735C0 10.4808 0.208333 10.2731 0.46558 10.2731H1.79529L1.80435 8.7334C1.80616 8.51139 1.96377 8.32878 2.17391 8.28581C2.65036 8.18734 2.97101 8.13721 3.50181 8.14079C3.56884 8.33057 3.64855 8.51855 3.73551 8.70475C3.7971 8.83545 3.86232 8.95899 3.92935 9.07715C3.45109 9.04313 3.17572 9.05925 2.73007 9.12191L2.67754 18.2563C3.75725 18.2188 4.81522 18.353 5.80978 18.6753C6.60145 18.9295 7.35145 19.3037 8.03804 19.7961V15.3005L8.97101 15.1644V19.8874C9.76268 19.3646 10.5707 18.9349 11.4022 18.6431C12.3496 18.3101 13.3243 18.1507 14.3315 18.2295V10.8049H14.3351ZM9.42572 20.6948C10.4565 20.3743 11.4855 20.2437 12.5145 20.249C13.7047 20.2562 14.8895 20.4495 16.067 20.7485V11.1969H15.2681V18.7469C15.2681 19.0011 15.0598 19.207 14.8025 19.207C14.7645 19.207 14.7283 19.2035 14.6938 19.1945C13.6739 19.0352 12.683 19.1676 11.7174 19.5078C10.942 19.7835 10.1775 20.1935 9.42572 20.6948Z' fill='%23A1A3A5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4093_733'%3E%3Crect width='17' height='22' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.home__subnav__icon.book {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='14' viewBox='0 0 17 14' fill='none'%3E%3Cg clip-path='url(%23clip0_4093_722)'%3E%3Cpath d='M1.7487 10.6713L1.79159 3.08645H0.933838V12.7374C2.11255 12.4336 3.29541 12.2402 4.48657 12.232C5.58643 12.2251 6.68628 12.3784 7.7889 12.7512C7.10409 12.1974 6.34041 11.79 5.52555 11.5248C4.49902 11.1906 3.38949 11.0801 2.25228 11.1768C1.99495 11.1975 1.77083 11.0069 1.7487 10.7514C1.74593 10.7238 1.74593 10.6976 1.7487 10.6713ZM14.3355 2.69009C14.3327 2.66799 14.3299 2.64451 14.3299 2.61965C14.3299 2.59617 14.3313 2.57269 14.3355 2.54921V1.01346C13.2563 0.911255 12.144 1.03003 11.1729 1.3974C10.2653 1.74128 9.48226 2.30614 8.97314 3.11546V11.8632C9.76449 11.3356 10.5738 10.902 11.4053 10.6064C12.3529 10.2694 13.3269 10.1092 14.3355 10.1893V2.69009ZM15.2693 2.15423H16.5338C16.7911 2.15423 17 2.36277 17 2.61965V13.3451C17 13.602 16.7911 13.8105 16.5338 13.8105C16.4812 13.8105 16.43 13.8022 16.383 13.7857C15.0825 13.4142 13.7904 13.167 12.5107 13.1587C11.2628 13.1504 10.0163 13.37 8.76424 13.921C8.68677 13.9721 8.59408 13.9997 8.49862 13.9984C8.40454 13.9997 8.31185 13.9721 8.23299 13.921C6.98234 13.3686 5.73446 13.1504 4.48657 13.1587C3.20687 13.167 1.9161 13.4142 0.614258 13.7857C0.56722 13.8022 0.516032 13.8105 0.46346 13.8105C0.208903 13.8119 0 13.6034 0 13.3465V2.61965C0 2.36277 0.208903 2.15423 0.466227 2.15423H1.79574L1.80404 0.599131C1.80542 0.375397 1.96313 0.190332 2.1748 0.146137C3.40194 -0.109362 4.89331 -0.0458326 6.20068 0.454118C7.10409 0.799388 7.92448 1.35044 8.52352 2.14594C9.12809 1.4043 9.93604 0.871204 10.845 0.527315C12.0873 0.0563672 13.5206 -0.0568812 14.8695 0.140613C15.1019 0.173759 15.2679 0.374015 15.2679 0.600512V2.15423H15.2693ZM9.42554 12.6808C10.4562 12.3576 11.4855 12.2251 12.5148 12.2306C13.706 12.2375 14.8888 12.4322 16.0675 12.7361V3.08645H15.2693V10.7128C15.2693 10.9697 15.0604 11.1782 14.8031 11.1782C14.7657 11.1782 14.7297 11.1741 14.6952 11.1658C13.6742 11.0056 12.685 11.1381 11.7193 11.482C10.9418 11.7596 10.1781 12.174 9.42554 12.6808ZM8.04069 11.7734V3.10165C7.55233 2.24123 6.76237 1.66532 5.87004 1.3242C4.85872 0.937496 3.7229 0.850488 2.73234 0.991358L2.67977 10.2183C3.76025 10.1797 4.81722 10.3164 5.81193 10.641C6.60327 10.8978 7.35311 11.2749 8.04069 11.7734Z' fill='%23A1A3A5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4093_722'%3E%3Crect width='17' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.home__nav > li > a {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.home__tabchi__tab > * > a {
  padding: 8px 14px;
}
.home__tabchi__tab > *.uk-active > a {
  border-radius: 10px 10px 0 0;
  background: var(--Primary-1, #6BCCE2);
  border-color: #6BCCE2;
}
.home__tabchi__header {
  padding-bottom: 10px;
  padding-top: 10px;
  background: var(--Primary-2, #2BBEF9);
}
.home__tabchi__table {
  border-radius: 0 0 5px 5px;
  background: var(--Neutral-5, #EDEDED);
}
.home__tabchi__table > *:not(:first-child) > tr {
  border-bottom: 10px solid #e5e5e5;
  border-left: 5px solid #e5e5e5;
  border-right: 5px solid #e5e5e5;
}
.home__tabchi__table tr th {
  text-transform: inherit;
  white-space: nowrap;
}
.home__tabchi__table tbody tr {
  background-color: #fff;
}
.home__section {
  background: #F5FEFF;
  -webkit-box-shadow: 0 4px 10.9px 0 rgba(0, 0, 0, 0.11);
          box-shadow: 0 4px 10.9px 0 rgba(0, 0, 0, 0.11);
  padding-top: 22px;
}
.home__title1 {
  padding-bottom: 10px;
  border-bottom: 1px solid #2BBEF9;
}
.home__nhieu__btn {
  text-transform: inherit;
  background-color: #EDEDED;
  border-color: #EDEDED;
}
.home__nhieu__item:nth-child(n+2) {
  margin-top: 19px;
  padding-top: 19px;
  border-top: 1px solid #EDEDED;
}
.home__goidoc__price {
  margin-top: 14px !important;
}
.home__goidoc__body {
  padding: 0px 10px 15px 10px;
}
.home__goidoc__body__box {
  margin-top: -50px;
}
.home__goidoc__header {
  padding: 15px 10px 70px;
}
.home__goidoc__header.\@10ngay {
  background: -webkit-gradient(linear, left top, right top, from(#DE6856), to(#DF6277));
  background: linear-gradient(90deg, #DE6856 0%, #DF6277 100%);
}
.home__goidoc__header.\@1thang {
  background: -webkit-gradient(linear, left top, right top, from(#0E82E8), to(#568FE3));
  background: linear-gradient(90deg, #0E82E8 0%, #568FE3 100%);
}
.home__goidoc__header.\@3thang {
  background: -webkit-gradient(linear, left top, right top, from(#3E8299), to(#59C193));
  background: linear-gradient(90deg, #3E8299 0%, #59C193 100%);
}
.home__goidoc__header.\@6thang {
  background: -webkit-gradient(linear, left top, right top, from(#3552E6), to(#4990EB));
  background: linear-gradient(90deg, #3552E6 0%, #4990EB 100%);
}
.home__goidoc__header.\@12thang {
  background: -webkit-gradient(linear, left top, right top, from(#C5835A), to(#E6A770));
  background: linear-gradient(90deg, #C5835A 0%, #E6A770 100%);
}
.home__slidernav {
  background-color: #18364D;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home__slidernav-position {
  --uk-position-margin-offset: -10px;
  margin: var(--uk-position-margin-offset);
}
.home__slidernav-icon {
  padding: 0;
}
.home__slidernav-icon > svg {
  display: none;
}
/*# sourceMappingURL=style.css.map */