.home{
  &__tabchi{
    &__tab{
      >*{
        >a{
          @extend .text-656565;
          @extend .fz-18;
          @extend .exo-2-500;
          padding: 8px 14px;
        }
        &.uk-active{
          >a{
            border-radius: 10px 10px 0 0;
            background: var(--Primary-1, #6BCCE2);
            @extend .text-18364D;
            border-color: #6BCCE2;
          }
        }
      }
    }
    &__header{
      $x:10px;
      padding-bottom: $x;
      padding-top: $x;
      background: var(--Primary-2, #2BBEF9);
    }
    &__table{
      border-radius: 0 0 5px 5px;
      background: var(--Neutral-5, #EDEDED);
      >*{
        &:not(:first-child){
          >tr{
            border-bottom: 10px solid #e5e5e5;
            border-left: 5px solid #e5e5e5;
            border-right: 5px solid #e5e5e5;
            &:not(:first-child){

            }
          }
        }
      }
      tr{
        th{
          text-transform: inherit;
          @extend .fz-15;
          @extend .text-484554;
          @extend .exo-2-700;
          white-space: nowrap;
        }
        td{
          @extend .text-484554;
          @extend .fz-14;
          &:nth-child(1),&:nth-child(3){
            @extend .exo-2-600;
          }
        }
      }
      tbody{
        tr{
          background-color: #fff;
        }
      }
    }
  }
  &__section{
    background: #F5FEFF;
    box-shadow: 0 4px 10.9px 0 rgba(0, 0, 0, 0.11);
    padding-top: 22px;
  }
  &__title1{
    padding-bottom: 10px;
    border-bottom: 1px solid #2BBEF9;
  }
  &__nhieu{
    &__btn{
      text-transform: inherit;
      background-color: #EDEDED;
      border-color: #EDEDED;
    }
    &__item{
      &:nth-child(n+2){
        $x:19px;
        margin-top: $x;
        padding-top: $x;
        border-top: 1px solid #EDEDED;
      }
    }
  }
  &__goidoc{
    &__price{
      margin-top: 14px !important;
    }
    &__body{
      padding: 0px 10px 15px 10px;
      &__box{
        margin-top: -50px;
      }
    }
    &__header{
      padding: 15px 10px 70px;
      &.\@10ngay{
        background: linear-gradient(90deg, #DE6856 0%, #DF6277 100%);
      }
      &.\@1thang{
        background: linear-gradient(90deg, #0E82E8 0%, #568FE3 100%);
      }
      &.\@3thang{
        background: linear-gradient(90deg, #3E8299 0%, #59C193 100%);
      }
      &.\@6thang{
        background: linear-gradient(90deg, #3552E6 0%, #4990EB 100%);
      }
      &.\@12thang{
        background: linear-gradient(90deg, #C5835A 0%, #E6A770 100%);
      }
    }
  }
  &__slidernav{
    background-color: #18364D;
    width: 21px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-position{
      --uk-position-margin-offset: -10px;
      margin: var(--uk-position-margin-offset);
    }
    &-icon{
      padding: 0;
      >svg{
        display: none;
      }
    }
  }
}